<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ztesoft.zsmart.nros.crm.core.server.dao.mapper.generator.NodeFilterUserDOMapper">
  <resultMap id="BaseResultMap" type="com.ztesoft.zsmart.nros.crm.core.server.dao.dataobject.generator.NodeFilterUserDO">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="node_id" jdbcType="VARCHAR" property="nodeId" />
    <result column="node_type" jdbcType="VARCHAR" property="nodeType" />
    <result column="node_name" jdbcType="VARCHAR" property="nodeName" />
    <result column="marketing_id" jdbcType="BIGINT" property="marketingId" />
    <result column="marketing_instance_id" jdbcType="VARCHAR" property="marketingInstanceId" />
    <result column="customer_group_id" jdbcType="BIGINT" property="customerGroupId" />
    <result column="open_id" jdbcType="VARCHAR" property="openId" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="member_id" jdbcType="BIGINT" property="memberId" />
    <result column="judge" jdbcType="SMALLINT" property="judge" />
    <result column="ext_info" jdbcType="OTHER" property="extInfo" typeHandler="com.ztesoft.zsmart.nros.base.util.JSONTypeHandler" />
    <result column="merchant_code" jdbcType="VARCHAR" property="merchantCode" />
    <result column="app_id" jdbcType="VARCHAR" property="appId" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="creator" jdbcType="OTHER" property="creator" typeHandler="com.ztesoft.zsmart.nros.base.util.JSONTypeHandler" />
    <result column="modifier" jdbcType="OTHER" property="modifier" typeHandler="com.ztesoft.zsmart.nros.base.util.JSONTypeHandler" />
    <result column="status" jdbcType="CHAR" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    id, node_id, node_type, node_name, marketing_id, marketing_instance_id, customer_group_id, 
    open_id, phone, member_id, judge, ext_info, merchant_code, app_id, gmt_create, gmt_modified, 
    creator, modifier, status
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from crm_node_filter_user
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from crm_node_filter_user
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.ztesoft.zsmart.nros.crm.core.server.dao.dataobject.generator.NodeFilterUserDO">
    <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.Long">
      select nextval('crm_node_filter_user_id_seq')
    </selectKey>
    insert into crm_node_filter_user (id, node_id, node_type, 
      node_name, marketing_id, marketing_instance_id, 
      customer_group_id, open_id, phone, 
      member_id, judge, ext_info, 
      merchant_code, app_id, gmt_create, 
      gmt_modified, creator, 
      modifier, 
      status)
    values (#{id,jdbcType=BIGINT}, #{nodeId,jdbcType=VARCHAR}, #{nodeType,jdbcType=VARCHAR}, 
      #{nodeName,jdbcType=VARCHAR}, #{marketingId,jdbcType=BIGINT}, #{marketingInstanceId,jdbcType=VARCHAR}, 
      #{customerGroupId,jdbcType=BIGINT}, #{openId,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, 
      #{memberId,jdbcType=BIGINT}, #{judge,jdbcType=SMALLINT}, #{extInfo,jdbcType=OTHER,typeHandler=com.ztesoft.zsmart.nros.base.util.JSONTypeHandler}, 
      #{merchantCode,jdbcType=VARCHAR}, #{appId,jdbcType=VARCHAR}, #{gmtCreate,jdbcType=TIMESTAMP}, 
      #{gmtModified,jdbcType=TIMESTAMP}, #{creator,jdbcType=OTHER,typeHandler=com.ztesoft.zsmart.nros.base.util.JSONTypeHandler}, 
      #{modifier,jdbcType=OTHER,typeHandler=com.ztesoft.zsmart.nros.base.util.JSONTypeHandler}, 
      #{status,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ztesoft.zsmart.nros.crm.core.server.dao.dataobject.generator.NodeFilterUserDO">
    <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.Long">
      select nextval('crm_node_filter_user_id_seq')
    </selectKey>
    insert into crm_node_filter_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      id,
      <if test="nodeId != null">
        node_id,
      </if>
      <if test="nodeType != null">
        node_type,
      </if>
      <if test="nodeName != null">
        node_name,
      </if>
      <if test="marketingId != null">
        marketing_id,
      </if>
      <if test="marketingInstanceId != null">
        marketing_instance_id,
      </if>
      <if test="customerGroupId != null">
        customer_group_id,
      </if>
      <if test="openId != null">
        open_id,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="memberId != null">
        member_id,
      </if>
      <if test="judge != null">
        judge,
      </if>
      <if test="extInfo != null">
        ext_info,
      </if>
      <if test="merchantCode != null">
        merchant_code,
      </if>
      <if test="appId != null">
        app_id,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModified != null">
        gmt_modified,
      </if>
      <if test="creator != null">
        creator,
      </if>
      <if test="modifier != null">
        modifier,
      </if>
      <if test="status != null">
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      #{id,jdbcType=BIGINT},
      <if test="nodeId != null">
        #{nodeId,jdbcType=VARCHAR},
      </if>
      <if test="nodeType != null">
        #{nodeType,jdbcType=VARCHAR},
      </if>
      <if test="nodeName != null">
        #{nodeName,jdbcType=VARCHAR},
      </if>
      <if test="marketingId != null">
        #{marketingId,jdbcType=BIGINT},
      </if>
      <if test="marketingInstanceId != null">
        #{marketingInstanceId,jdbcType=VARCHAR},
      </if>
      <if test="customerGroupId != null">
        #{customerGroupId,jdbcType=BIGINT},
      </if>
      <if test="openId != null">
        #{openId,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="memberId != null">
        #{memberId,jdbcType=BIGINT},
      </if>
      <if test="judge != null">
        #{judge,jdbcType=SMALLINT},
      </if>
      <if test="extInfo != null">
        #{extInfo,jdbcType=OTHER,typeHandler=com.ztesoft.zsmart.nros.base.util.JSONTypeHandler},
      </if>
      <if test="merchantCode != null">
        #{merchantCode,jdbcType=VARCHAR},
      </if>
      <if test="appId != null">
        #{appId,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=OTHER,typeHandler=com.ztesoft.zsmart.nros.base.util.JSONTypeHandler},
      </if>
      <if test="modifier != null">
        #{modifier,jdbcType=OTHER,typeHandler=com.ztesoft.zsmart.nros.base.util.JSONTypeHandler},
      </if>
      <if test="status != null">
        #{status,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ztesoft.zsmart.nros.crm.core.server.dao.dataobject.generator.NodeFilterUserDO">
    update crm_node_filter_user
    <set>
      <if test="nodeId != null">
        node_id = #{nodeId,jdbcType=VARCHAR},
      </if>
      <if test="nodeType != null">
        node_type = #{nodeType,jdbcType=VARCHAR},
      </if>
      <if test="nodeName != null">
        node_name = #{nodeName,jdbcType=VARCHAR},
      </if>
      <if test="marketingId != null">
        marketing_id = #{marketingId,jdbcType=BIGINT},
      </if>
      <if test="marketingInstanceId != null">
        marketing_instance_id = #{marketingInstanceId,jdbcType=VARCHAR},
      </if>
      <if test="customerGroupId != null">
        customer_group_id = #{customerGroupId,jdbcType=BIGINT},
      </if>
      <if test="openId != null">
        open_id = #{openId,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="memberId != null">
        member_id = #{memberId,jdbcType=BIGINT},
      </if>
      <if test="judge != null">
        judge = #{judge,jdbcType=SMALLINT},
      </if>
      <if test="extInfo != null">
        ext_info = #{extInfo,jdbcType=OTHER,typeHandler=com.ztesoft.zsmart.nros.base.util.JSONTypeHandler},
      </if>
      <if test="merchantCode != null">
        merchant_code = #{merchantCode,jdbcType=VARCHAR},
      </if>
      <if test="appId != null">
        app_id = #{appId,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null">
        creator = #{creator,jdbcType=OTHER,typeHandler=com.ztesoft.zsmart.nros.base.util.JSONTypeHandler},
      </if>
      <if test="modifier != null">
        modifier = #{modifier,jdbcType=OTHER,typeHandler=com.ztesoft.zsmart.nros.base.util.JSONTypeHandler},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ztesoft.zsmart.nros.crm.core.server.dao.dataobject.generator.NodeFilterUserDO">
    update crm_node_filter_user
    set node_id = #{nodeId,jdbcType=VARCHAR},
      node_type = #{nodeType,jdbcType=VARCHAR},
      node_name = #{nodeName,jdbcType=VARCHAR},
      marketing_id = #{marketingId,jdbcType=BIGINT},
      marketing_instance_id = #{marketingInstanceId,jdbcType=VARCHAR},
      customer_group_id = #{customerGroupId,jdbcType=BIGINT},
      open_id = #{openId,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      member_id = #{memberId,jdbcType=BIGINT},
      judge = #{judge,jdbcType=SMALLINT},
      ext_info = #{extInfo,jdbcType=OTHER,typeHandler=com.ztesoft.zsmart.nros.base.util.JSONTypeHandler},
      merchant_code = #{merchantCode,jdbcType=VARCHAR},
      app_id = #{appId,jdbcType=VARCHAR},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      creator = #{creator,jdbcType=OTHER,typeHandler=com.ztesoft.zsmart.nros.base.util.JSONTypeHandler},
      modifier = #{modifier,jdbcType=OTHER,typeHandler=com.ztesoft.zsmart.nros.base.util.JSONTypeHandler},
      status = #{status,jdbcType=CHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>